<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>BOHIO</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/columna.css}">

</head>
<body>

	<div id="contenedor">
		<header id="cabecera ">
			<h1>Aca el título de la página</h1>
		</header>
		<aside>
			<article>
				<h3>Articulo1</h3>
				<p>texto articulo 1</p>
			</article>
		</aside>
		<section>
			<h2>Contenido</h2>
			<p>Contenido de la pagina</p>
		</section>
		<footer id="pie">Pié de página .</footer>
	</div>

</body>
</html>